<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin" title="viatec">
				<resource id="Magento_Backend::stores" title="viatec">
					<resource id="Magento_Backend::stores_settings" title="viatec">
						<resource id="Magento_Config::config" title="viatec">
							<resource id="Buten_Viatec::config_buten_viatec" title="viatec"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
